
body {
    background-color: pink;
    padding:0;
    margin: 0;
}

#board{
    position: relative;
    height:100vh;
    width: 100vw;
}

#player{
    background-color: red;
    position: absolute;
}

.obstacle{
    background-color: blue;
    position: absolute;
}